src/main/resources/xsd/campaign.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Campaign">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:string" />
				<xs:element minOccurs="0" maxOccurs="1" name="Label" type="xs:string" />
				<xs:element minOccurs="0" maxOccurs="1" ref="OrganizationalUnits"/>
				<xs:element ref="SurveyUnits" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrganizationalUnits" type="OrganizationalUnitsType"/>
	<xs:element name="OrganizationalUnit" type="OrganizationalUnitType"/>
	<xs:element name="SurveyUnits" type="SurveyUnitsType">
		<xs:unique name="unique-surveyunitid">
			<xs:selector xpath="SurveyUnit" />
			<xs:field xpath="@id" />
		</xs:unique>
	</xs:element>
	<xs:element name="SurveyUnit" type="SurveyUnitType"/>
		
	<xs:element name="PhoneNumbers" type="PhoneNumbersType"/>
	<xs:element name="InseeAddress" type="InseeAddressType"/>
	<xs:element name="InseeSampleIdentiers" type="InseeSampleIdentiersType"/>
	<xs:element name="States" type="StatesType"/>
	<xs:element name="State" type="StateType"/>
	<xs:element name="Comments" type="CommentsType"/>
	<xs:element name="Comment" type="CommentType"/>
	<xs:element name="ContactOutcome" type="ContactOutcomeType"/>
	<xs:element name="ClosingCause" type="ClosingCauseType"/>
	<xs:element name="ContactAttempts" type="ContactAttemptsType"/>
	<xs:element name="ContactAttempt" type="ContactAttemptType"/>

	<xs:element name="Persons" type="PersonsType"/>
  
	
	
	<xs:complexType name="OrganizationalUnitsType">
		<xs:sequence>
			<xs:element ref="OrganizationalUnit" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OrganizationalUnitType">
		<xs:all>
			<xs:element name="Id" type="xs:string" />
			<xs:element name="CollectionStartDate" minOccurs="1">
				<xs:simpleType>
	      			<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
						<xs:minLength value="1"/>
					</xs:restriction>
	 			</xs:simpleType>
	 		</xs:element>
			<xs:element name="CollectionEndDate" minOccurs="1">
				<xs:simpleType>
        			<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
						<xs:minLength value="1"/>
					</xs:restriction>
   				</xs:simpleType>
   			</xs:element>
   			<xs:element name="IdentificationPhaseStartDate" minOccurs="1">
				<xs:simpleType>
        			<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
						<xs:minLength value="1"/>
					</xs:restriction>
   				</xs:simpleType>
   			</xs:element>
   			<xs:element name="InterviewerStartDate" minOccurs="1">
				<xs:simpleType>
        			<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
						<xs:minLength value="1"/>
					</xs:restriction>
   				</xs:simpleType>
   			</xs:element>
   			<xs:element name="ManagementStartDate" minOccurs="1">
				<xs:simpleType>
        			<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
						<xs:minLength value="1"/>
					</xs:restriction>
   				</xs:simpleType>
   			</xs:element>
   			<xs:element name="EndDate" minOccurs="1">
				<xs:simpleType>
        			<xs:restriction base="xs:string"> 
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
						<xs:minLength value="1"/>
					</xs:restriction>
   				</xs:simpleType>
   			</xs:element>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="SurveyUnitsType">
		<xs:sequence>
			<xs:element ref="SurveyUnit" maxOccurs="unbounded"  minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SurveyUnitType">
		<xs:all>
			<xs:element name="Id" type="xs:string"  />
			<xs:element minOccurs="0" maxOccurs="1" name="InterwieverId" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="1" name="OrganizationalUnitId" type="xs:string" />
			<xs:element name="Priority" type="xs:boolean" />
			<xs:element ref="InseeAddress" />
			<xs:element ref="InseeSampleIdentiers" />
			<xs:element ref="Persons"/>
			<xs:element ref="States" minOccurs="0"/>
			<xs:element ref="Comments" minOccurs="0"/>
			<xs:element ref="ContactOutcome" minOccurs="0"/>
			<xs:element ref="ContactAttempts" minOccurs="0"/>
			<xs:element ref="ClosingCause" minOccurs="0"/>
			<!-- <xs:complexType name="Persons">
				<xs:sequence>
					<xs:element name="Person" type="PersonType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType> -->
		</xs:all>
	</xs:complexType>

	<xs:complexType name="PersonType">
		<xs:all>
			<xs:element name="Title" type="xs:string"  />
			<xs:element name="FirstName" type="xs:string" />
			<xs:element name="LastName" type="xs:string" />
			<xs:element name="Email" type="xs:string" />
			<xs:element name="Privileged" type="xs:boolean" />
			<xs:element name="DateOfBirth">
				<xs:simpleType>
        			<xs:restriction base="xs:string"> 
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4}"></xs:pattern>
						<xs:minLength value="1"/>
					</xs:restriction>
   				</xs:simpleType>
   			</xs:element>
			<xs:element ref="PhoneNumbers"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="PersonsType">
		<xs:sequence>
			<xs:element name="Person" type="PersonType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PhoneNumbersType">
		<xs:sequence>
			<xs:element name="PhoneNumber" type="PhoneNumberType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PhoneNumberType">
		<xs:sequence>
			<xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Source" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InseeAddressType">
		<xs:sequence>
			<xs:element name="GeographicalLocationId" type="xs:string"/>
			<xs:element name="L1" type="xs:string"/>
			<xs:element name="L2" type="xs:string"/>
			<xs:element name="L3" type="xs:string"/>
			<xs:element name="L4" type="xs:string"/>
			<xs:element name="L5" type="xs:string"/>
			<xs:element name="L6" type="xs:string"/>
			<xs:element name="L7" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InseeSampleIdentiersType">
		<xs:sequence>
			<xs:element name="Bs" type="xs:int" />
			<xs:element name="Ec" type="xs:string" />
			<xs:element name="Le" type="xs:int" />
			<xs:element name="Noi" type="xs:int" />
			<xs:element name="Numfa" type="xs:int" />
			<xs:element name="Rges" type="xs:int" />
			<xs:element name="Ssech" type="xs:int" />
			<xs:element name="Nolog" type="xs:int" />
			<xs:element name="Nole" type="xs:int" />
			<xs:element name="Autre" type="xs:string" />
			<xs:element name="Nograp" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="StatesType">
		<xs:sequence>
			<xs:element ref="State" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="StateType">
		<xs:sequence>
			<xs:element name="type" type="xs:string" />
			<xs:element name="date">
				<xs:simpleType>
       				<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
					</xs:restriction>
  					 </xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CommentsType">
		<xs:sequence>
			<xs:element ref="Comment" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CommentType">
		<xs:sequence>
			<xs:element name="type" type="xs:string" />
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ContactAttemptsType">
		<xs:sequence>
			<xs:element ref="ContactAttempt" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ContactAttemptType">
		<xs:sequence>
			<xs:element name="status" type="xs:string" />
			<xs:element name="date">
				<xs:simpleType>
       				<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ContactOutcomeType">
		<xs:sequence>
			<xs:element name="outcomeType" type="xs:string" />
			<xs:element name="date">
				<xs:simpleType>
       				<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="totalNumberOfContactAttempts" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ClosingCauseType">
		<xs:sequence>
			<xs:element name="type" type="xs:string" />
			<xs:element name="date">
				<xs:simpleType>
       				<xs:restriction base="xs:string">
						<xs:pattern value="[0-3][0-9]/[01][0-9]/[0-9]{4} [0-2][0-9]:[0-5][0-9]:[0-6][0-9]"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>